<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    h1
     {
      font-family: "Times New Roman", Times, serif;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Oswald"
    }


    body {
      font-family: "Open Sans"
    }
  </style>
</head>
<body class="w3-light-grey">
  <div class="w3-stretch" style="max-width:2000px">

<div class="w3-stretch" style="max-width:2000px">
  <img src="../static/1.jpg" alt="Boss" style="width:100%" class="w3-border">
  <header class="w3-container w3-center w3-padding-16 w3-light-green"></header>
  </div>
  <div class="w3-container w3-padding-16 w3-center" id="team">
     <!-- Info -->
    <h2>Some Of Our Products and gadgets.</h2>
</head>
<p><strong>Wanderer makes it easy to plan outdoor activities, 
  no matter what the season, and ensures that essential products can be obtained in our store. We have wide range of products available with top in class technology and durability.Customer Satisfaction is our motto.</strong> </p>
<br>
  <div>
<div class="w3-quarter">
<img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<strong>Survial Gear Kit</strong></a>
<p>Packed with essential tools our survival kit is great for wild adventures.</p> 
</div>
<div class="w3-quarter">
<img src="../static/J.jpg" alt="Boss" style="width:75%" class="w3-border w3-padding">
<h3></h3>
<a class="nav-item nav-link" href="/home"><strong>Item No.2</strong></a>
<p>Journal hikes to relive memories and plan new ones.</p> 
</div>
<div class="w3-quarter">
  <img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
  <h3></h3>
  <strong>Survial Gear Kit</strong></a>
  <p>Packed with essential tools our survival kit is great for wild adventures.</p> 
  </div>
  <div class="w3-quarter">
    <img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
    <h3></h3>
    <strong>Survial Gear Kit</strong></a>
    <p>Packed with essential tools our survival kit is great for wild adventures.</p> 
    </div>
    <div class="w3-quarter">
      <img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
      <h3></h3>
      <strong>Survial Gear Kit</strong></a>
      <p>Packed with essential tools our survival kit is great for wild adventures.</p> 
      </div>
      <div class="w3-quarter">
        <img src="../static/sgk.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
        <h3></h3>
        <strong>Survial Gear Kit</strong></a>
        <p>Packed with essential tools our survival kit is great for wild adventures.</p> 
        </div>
<div class="w3-quarter">
<img src="../static/S.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<a class="nav-item nav-link" href="/shop"><strong>Item 3</strong></a>
<p>Shop for wanderer recommended specialized equipment.</p> 
</div>
<div class="w3-quarter">
<img src="../static/V.jpg" alt="Boss" style="width:70%" class="w3-border w3-padding">
<h3></h3>
<a class="nav-item nav-link" href="/sign-up"><strong>Item 4</strong></a>
<p>Sign-up to gain VIP memember perks.</p> 
</div>
<br>

</pre> 

  



<div class="w3-container w3-padding-64 w3-center" id="team">
  <!-- Header -->
      <header class="w3-container w3-center w3-padding-64 w3-light-green">
        <h1 class="w3-jumbo">
          <b>Interested on our products?</b>
        </h1>
        <h1 class="w3-xlarge">
          <b>Fill in the form below and we bring it to you! <span class="w3-tag"> </span></b>
        
   
  <div class="container">
    <form action="https://formspree.io/f/xdobywrr" method="POST" id="my-form">

      <div class="form-group">
        <label for="products">Choose our product:</label>

<select name="products" id="products">
  <option value="GearKit">Survival Gear Kit</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select>
        
        
      <div class="form-group">
        <label for="quantity">Quantity    </label>
        <input type="text" id="quantity" name="quantity">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email">
      </div>
      
      <div class="form-group">
        <label for="address">Full Address</label>
        <input type="address" id="address" name="address">
      </div>

      <div class="form-group">
        <label for="massage">Delivery Instructions</label>
        <textarea name="massage" id="massage" cols="30" rows="10"></textarea>
      </div>

      <button type="submit">Submit</button>
    </form>
  
</body>
</html>